@model ControlPageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <H1 id="statusHeader">@Model.Status</H1>
    <H1 id="timeHeader">@Model.PlayTime</H1>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Connected Devices</h2>
        <ol id="devicesList">
            @foreach (var device in Model.Devices)
            {
                var splits = @device.Split("\t");
                var deviceName = splits[0];
                var displayNumber = splits[1];
                <li>
                    <p class="deviceName">@deviceName</p>
                    <p class="displayNumber">@displayNumber</p>
                </li>
            }
        </ol>
    </div>    
    <div class="col-md-2">
        <h2>Solution</h2>
        <p id="solution">@Model.Solution</p>
    </div>
    <div class="col-md-5">
        <h2>Controls</h2>
        <button id="startBtn" class="btn btn-success">Start</button>
        <button id="stopBtn" class="btn btn-danger">Stop</button>
        <button id="resetBtn" class="btn btn-primary">Reset</button>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/connectedDevices.js"></script>
}